server:
  port: 8080
  servlet:
    context-path: /smbms
    encoding:
      charset: UTF-8
      force: true
      enabled: true
    session:
      timeout: 30m

spring:
  mvc:
    static-path-pattern: /**
  devtools:
    restart:
      enabled: true

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false

  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://localhost:3306/smbms?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver

    hikari:
      connection-timeout: 30000
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 1800000
      max-lifetime: 1800000
      connection-test-query: SELECT 1

mybatis-plus:
  # MyBatis-Plus 配置
  type-aliases-package: com.viper.pojo
  mapper-locations: classpath:com/viper/dao/**/*.xml
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    com:
      viper: DEBUG
    org:
      springframework: INFO
