<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head}">
</head>
<body>
<div th:replace="~{common/head :: body}"></div>

<div class="right">
    <div class="location">
        <strong>你现在所在的位置是:</strong>
        <span>供应商管理页面 >> 供应商修改页</span>
    </div>
    <div class="providerAdd">
        <form id="providerForm" name="providerForm" method="post" th:action="@{/provider/modify}">
            <input type="hidden" name="id" th:value="${provider.id}">
            <!--div的class 为error是验证错误，ok是验证成功-->
            <div class="">
                <label for="proCode">供应商编码：</label>
                <input type="text" name="proCode" id="proCode" th:value="${provider.proCode}" readonly="readonly">
            </div>
            <div>
                <label for="proName">供应商名称：</label>
                <input type="text" name="proName" id="proName" th:value="${provider.proName}">
                <font color="red"></font>
            </div>

            <div>
                <label for="proContact">联系人：</label>
                <input type="text" name="proContact" id="proContact" th:value="${provider.proContact}">
                <font color="red"></font>
            </div>

            <div>
                <label for="proPhone">联系电话：</label>
                <input type="text" name="proPhone" id="proPhone" th:value="${provider.proPhone}">
                <font color="red"></font>
            </div>

            <div>
                <label for="proAddress">联系地址：</label>
                <input type="text" name="userAddress" id="proAddress" th:value="${provider.userAddress}">
            </div>

            <div>
                <label for="proFax">传真：</label>
                <input type="text" name="userFax" id="proFax" th:value="${provider.userFax}">
            </div>

            <div>
                <label for="proDesc">描述：</label>
                <input type="text" name="proDesc" id="proDesc" th:value="${provider.proDesc}">
            </div>
            <div class="providerAddBtn">
                <input type="button" name="save" id="save" value="保存">
                <input type="button" id="back" name="back" value="返回">
            </div>
        </form>
    </div>
</div>
</section>
<div th:replace="~{common/foot :: body}"></div>
<script type="text/javascript" th:src="@{/js/providermodify.js}"></script>
</body>
</html>

